<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Static Site</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  
		<!-- Styles -->
  
		<link rel="stylesheet" type="text/css" href="themes/readthedocs.css">
		<link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" />
		<!-- TAB 6/24/14: placing Asciidoctor themes before Bootstrap to minimize page styling conflicts -->      
		<link rel="stylesheet" href="css/bootstrap.min.css">
    </head>
    <body>
        <header>MY TEMPLATE HEADER Static Site</header>
        {{> body }}
        <footer>MY TEMPLATE FOOTER text here</footer>
		
		
	    <!-- Javascript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="js/jquery-1.10.2.min.js"><\/script>')</script>
		<script src="js/bootstrap.min.js"></script>
		
		<script type="text/javascript">
		</script>		

		
		
		
    </body>
</html>